*{
    margin: 0px;
    border: 0px;
    box-sizing: content-box;
    background-color: rgb(242, 140, 40);
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}


 .title, .title h1, .title a {
    
    text-align: center;
    margin: auto;
    background-color: rgb(53, 94, 59);
    border: 0px;
    
    font-size: 40px;
    display: flex;
    align-items: center;
    
    margin-bottom: 0px;
    
}


ul{
    list-style: none;
    text-align: center;
    
    
    
}





.test, .test li a{background-color: rgb(53, 94, 59);
    border: 0px solid rgb(53, 94, 59);
    padding: 5px;
display: flex;
flex: 1 1 auto;
flex-wrap: wrap;
list-style: none;
 justify-content: center;
 gap: 2px;
 



    
    
}
.test a{
    border: 2px solid  hsl(0deg 0% 0% / 0.2) ;
    border-radius: 30%;
    background-color: white;
    
    
        


}
.test li {
    background-color: rgb(53, 94, 59);
    border: 2px solid hsl(0deg 0% 0% / 0.2);
    border-radius: 30%;
    gap: 2px;
}


